.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.errmsg{
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.header{
  width:100%;
  background-color: blue;
  color: #fff;
  padding: 1%;
}
a{
  text-decoration: none !important;
  color: whitesmoke !important;
  padding: 2px;
}
.app-check{
  height:13px;
  width:20px;
  margin: 1%;
}
.mypage{
  background-image:url('https://c0.wallpaperflare.com/preview/997/717/184/artificial-intelligence-codes-developing-screen.jpg');
  height: 800px;
}
.mycard{
  background: transparent;
  /* color: white; */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
